*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'bombing';
    src: url('../../../../assets/fonts/Bombing.ttf');
}
@font-face {
    font-family: 'rockybily';
    src: url('../../../../assets/fonts/Rockybilly.ttf');
}
@font-face {
    font-family: 'darkness';
    src: url(../../../../assets/fonts/Darkness\ of\ the\ night.ttf);
}


body{
    background-color: black !important;
}
.navbar{
    background-color: black;
    box-shadow: 1px 16px 23px 17px black;
}
h1{
    font-family: 'bombing';
    font-size: 40px !important;
    color: red !important;
}

p{
    margin-bottom: 2px !important;
    margin-top: 10px !important;
}
#p1, #p2, .vs{
    font-family: 'darkness';
    margin-bottom: 0px !important;
    display: flex;
    align-items: center;
}
#p1{
    color: red;
}
#p2{
    color: blue;
}
.players{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;    
}

.patrones{
    display: flex;
    flex-direction: row;
}
.p1, .p2{
    width: 50% !important;
}
.p1, .p2 > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    border-radius: 10px;
    width: 70px;
    height: 40px;
    padding: 10px;
}
.skills{
    margin-top: 30px !important;
}
.publicidad{
    height: 200px;

}
.continuar{
    display: flex;
    justify-content: center;
    
}
#btn-continuar{
    background-color: bisque;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    font-family: 'bombing'!important;
    font-size: 30px !important;
}
/*Footer*/
footer{
    animation-duration: 1s;
}

.redes{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.redes img{
    width: 60px;
    margin-bottom: 20px;
}


/*CSS libre.html*/
.vuelta{
    margin-top: 100px !important;
}
/*CSS deluxe.html*/
.acapela{
    margin-bottom: 30px;
}
