* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'bombing';
    src: url('../../../../assets/fonts/Bombing.ttf');
}
@font-face {
    font-family: 'rockybily';
    src: url('../../../../assets/fonts/Rockybilly.ttf');
}
@font-face {
    font-family: 'darkness';
    src: url(../../../../assets/fonts/Darkness\ of\ the\ night.ttf);
}

/*body*/
body{
    background-color: black !important;
}
h1{
    font-family: 'bombing';
    font-size: 40px !important;
    color: red !important;
}
#p1, #p2, .vs{
    font-family: 'darkness';
    margin-bottom: 0px !important;
    display: flex;
    align-items: center;
}
#p1{
    color: red;
}
#p2{
    color: blue;
}

p, label{
    color: bisque;
    font-family: 'darkness';
    font-style: italic;
}

.container-fluid{
    height: 200vh;
}
.navbar{
    background-color: black;
    box-shadow: 1px 3px 23px 26px rgba(0,0,0,1);
    display: flex;
}
#subs{
    height: 50px;
}
.players{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;   
}
/*Menu*/
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a{
    margin-top: 25px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'bombing'!important;
    font-size: 30px !important;
}


#btn-terminarBatalla{
    animation-duration: 1.3s;
}
.terminar-batalla{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*efecto sacudir cuando termnina*/
.incremental a{
    animation-duration: 0.5s;
}
.random a{
    animation-duration: 0.7s;
}
.libres a{
    animation-duration: 0.9s;
}
.deluxe a {
    animation-duration: 1.1s;
}

/*Footer*/
footer{
    animation-duration: 1s;
}

.redes{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.redes img{
    width: 60px;
    margin-bottom: 20px;
}
