*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'bombing';
    src: url('../../../../assets/fonts/Bombing.ttf');
}
@font-face {
    font-family: 'rockybily';
    src: url('../../../../assets/fonts/Rockybilly.ttf');
}
@font-face {
    font-family: 'darkness';
    src: url(../../../../assets/fonts/Darkness\ of\ the\ night.ttf);
}

.container-fluid{
    padding: 0px !important;
    box-sizing: border-box;
}

.row{
    width: 100% !important;
}

body{
    background-color: white !important;
}

h1{
    font-family: 'bombing';
    font-size: 40px !important;
    color: red !important;
}

p{
    margin-bottom: 2px !important;
    margin-top: 10px !important;
}

#p1, #p2, .vs{
    font-family: 'darkness';
    margin-bottom: 0px !important;
    display: flex;
    align-items: center;
}
#p1{
    color: red;
    text-shadow: 0px 0px 4px black;
}
#p2{
    color: blue;
    text-shadow: 0px 0px 4px black;
}
.players{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;    
}


/*section graficos finales*/
.nombres_final{
    height: 40px;
}
.nombre_finalp1,
.nombre_finalp2,
.vs_final {
    font-family: 'darkness';
    margin-bottom: 0px !important;
}
#nombre_finalp1{
    color: red;
    text-shadow: 0px 0px 4px black;
    font-family: 'darkness';
}
#nombre_finalp2{
    color: blue;
    text-shadow: 0px 0px 4px black;
    font-family: 'darkness';
}
.graficos-final{
    height: 100vh;
    padding-top: 30px;
}
.resultados{
    display: flex;
    justify-content: space-between;
    
}
.resultados h3{
    color: white;
    font-family: 'darkness';
    font-size: 16px;
    
}
.container-resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#resultado{
    color: white;
    font-family: 'darkness';
    text-shadow: 0px 0px 15px white;
    margin-bottom: 0 !important;
    margin-top: 15px;
}
#difTotales{
    color: white;
}
/*batallometro*/
.batallometro{
    margin-top: 30px;
}
.batallometro h2{
    font-family: 'darkness';
    color:white;
    
}
.h6-batallometro{
    color: white;
    font-family: 'Helvetica';
}
.p-porcentaje{
    font-family: 'darkness';
    margin-bottom: 0% !important;
    margin-top: 5px;
    font-size: 12px;
    color: black; 
    font-weight: 800;
    text-shadow: 0px 0px 10px white; 

}
.progressBar {
    height: 35px;
    border-radius: 1em;
    margin:10px;
    font-size: 16px;
    font-family: 'Russo One', sans-serif;
    padding-right: 20px;
    padding-top: 5px;
    max-width: 90vw;
    background:
      linear-gradient(-45deg,
        rgba(255, 255, 255, 0.15) 25%,transparent 25%,
        transparent 50%, rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,transparent 75%)
      left/30px 30px repeat-x,
      linear-gradient(to right, green 0%, yellow 50%, red 100%) left/var(--p,100%) fixed,
      lightgray;
  box-shadow:inset 0px -2px 5px rgba(0, 0, 0, 0.5);
  animation: change 1s linear infinite;

}

/*Footer*/
footer{
    animation-duration: 1s;
}

.redes{
    display: flex;
    align-items: center;
    flex-direction: column;
    

}
.redes img{
    width: 50px;
    
}