*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'bombing';
    src: url('../../../../assets/fonts/Bombing.ttf');
}
@font-face {
    font-family: 'rockybily';
    src: url('../../../../assets/fonts/Rockybilly.ttf');
}
@font-face {
    font-family: 'darkness';
    src: url(../../../../assets/fonts/Darkness\ of\ the\ night.ttf);
}

.container-fluid{
    padding: 0px !important;
    box-sizing: border-box;
}

.row{
    width: 100% !important;
}

body{
    background-color: white !important;
}

h1{
    font-family: 'bombing';
    font-size: 40px !important;
    color: red !important;
}

p{
    margin-bottom: 2px !important;
    margin-top: 10px !important;
}

#p1, #p2, .vs{
    font-family: 'darkness';
    margin-bottom: 0px !important;
    display: flex;
    align-items: center;
}
#p1{
    color: red;
    text-shadow: 0px 0px 4px black;
}
#p2{
    color: blue;
    text-shadow: 0px 0px 4px black;
}
.players{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;    
}


/*section graficos finales*/
.nombres_final{
    height: 40px;
}
.nombre_finalp1,
.nombre_finalp2,
.vs_final {
    font-family: 'darkness';
    margin-bottom: 0px !important;
}
#nombre_finalp1{
    color: red;
    text-shadow: 0px 0px 4px black;
}
#nombre_finalp2{
    color: blue;
    text-shadow: 0px 0px 4px black;
}
.graficos-final{
    height: 100vh;
    padding-top: 30px;
}
.resultados{
    display: flex;
    justify-content: space-between;
}

/*Footer*/
footer{
    animation-duration: 1s;
}

.redes{
    display: flex;
    align-items: center;
    flex-direction: column;
    

}
.redes img{
    width: 50px;
    
}